################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoenixApi/.vs/PhoenixApi/FileContentIndex/3b5061bf-6500-498a-b13d-fba6df8a5415.vsidx
